
@include media-breakpoint-down(sm) {

    .section-nav-title {
        display: inline;
        text-align: center;
    }
}


.nav_image {
    max-height: 100px;
}

.navbar-nav {
    flex-wrap: wrap;
}

@include media-breakpoint-down(md) {
    .nav_image {
        max-height: 50px;
    }
    .navbar-brand {
        font-size: 1.1rem;
    }

    .navbar-nav {
        font-size: 1rem;
    }
}

.modNav-top {

    .module-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: $spacer * 8;
        max-height: $spacer * 8;
    }

    .module-nav-item {
        text-align: center;

        // box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        // text-align: center;
    }

}

.modNav-bottom {
    padding-top: $spacer;
    .module-nav {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
    .module-nav-item {
        padding: 0;
        line-height: 1.2;
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .modNav-top {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .modNav-bottom {
        display: none;
    }
}


.module-nav-item {
    line-height: 1;
    font-size: $font-size-base * 0.7;

    a {
        color: $gray-200;
    }

    a.active {
        color: $brand-accent;
    }
}


.active-week {
    // text-align: center;
    color: $white;
}
.active-due-date {
    // text-align: center;
    color: $white;
}

@include media-breakpoint-down(lg) {
    .due-date {
        font-size: $font-size-base * 0.85;
    }
}

@include media-breakpoint-down(sm) {
    .due-date {
        flex-direction: column;
    }
}
