---
layout: base
---

<!-- Banner -->
<div class="jumbotron">
	<div class="container-fluid text-center d-flex flex-wrap">
		{% if site.jumbotron_image %}
			<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}"
			     alt="{{ site.title }} Icon" class="jumbotron_image align-self-center" style="width: 300px; height: 389px;"/>
		{% endif %}
		<header class="col-lg-12 col-xl-6">
			<h1>{{ site.data.course.title }}</h1>
			<h2>{{ site.data.course.institution }}</h2>
		</header>


	</div>

</div>

<div class="container-fluid px-md-0">

      <div class="row justify-content-md-center">

        <div class="col-sm-12 col-md-11 col-lg-9 content">

			{{ content }}


		</div> <!--End Content-Main -->
	</div> <!--End row -->
</div> <!--End container -->
